
<fieldset>
    <ul>
        <li ng-repeat="error in controller.validationMessages">
            {{error}}
        </li>
    </ul>

    <form class="form-horizontal" ng-submit="controller.login()">
        <div>
            <label>Email:</label>
            <input class="form-control" ng-model="controller.loginUser.email" />
        </div>
        <div>
            <label>Password:</label>
            <input class="form-control" type="password" ng-model="controller.loginUser.password" />
        </div>
        <br />
        <div>
            <input class="btn btn-info" type="submit" value="Login" />
            <a href="/register">Register</a>
        </div>
    </form>
</fieldset>
